
.App{
  width:40%;
  border: 1px solid #eee;
  margin: 20px auto;
  background-color: rgb(3, 3, 37);
}

.Heading{
  font-size: medium;
  color:#eee;
  text-align: center;
}

.inputs{
  width:60%;
  background-color: rgb(123, 123, 158);
  padding:15px;
  margin:20px auto;  
}

.inputbox{
  height:30px;
  width:90%;
  display:block;
  border: 1px solid rgb(99, 99, 99);
  padding:5px;
  margin:auto;
}


.todoItem{
  width:60%;
  background-color: rgb(62, 3, 65);
  display:block;
  border:1px solid rgb(22, 10, 20);
  box-shadow: 0px 2px 2px rgb(121, 69, 115);
  margin:20px auto;
  padding:5px 15px;
}

.chkbox{
   display:inline;
   padding-right: 5px;
}

.notChkbox{
  width:85%;
  color:rgb(233, 233, 233);
  text-align: left;
  display: inline-block;
  text-decoration: line-through;
  padding-left: 6px; 

}

.inputText{
  width:85%;
  color:rgb(233, 233, 233);
  text-align: left;
  display: inline-block;
  padding-left: 6px;  
}

i{  
  position:absolute;
  color:rgb(187, 27, 59);
  margin:10px 5px;
  padding: 5px;
  float:right;
}